.headerimg {
    width: 20vw;
    height: auto;
    display: block;
    padding-top: 4vw;
    padding-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
  }

.addresssform { 
    margin-left: auto;
    margin-right: auto;
    width:5vw;
    }

.center {
        margin: auto;
        width: 35vw;
        padding: 10px;
      }


.btn-grad {background-image: linear-gradient(to right, #41E296 0%, #00C4EE  51%,#41E296   100%)}
.btn-grad {
         padding: 5px;
         text-align: center;
         transition: 0.5s;
         background-size: 200% auto;
         color: white;            
         box-shadow: 0 0 20px #eee;
         border-radius: 10px;
         display: block;
       }

.btn-grad:hover {
         background-position: right center; /* change the direction of the change here */
         color: #fff;
         text-decoration: none;
       }
      

  
    
       