.headerimg {
    width: 20vw;
    height: auto;
    display: block;
    padding-top: 4vw;
    padding-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
  }

.addresssform { 
    margin-left: auto;
    margin-right: auto;
    width:5vw;
    }

.center {
        margin: auto;
        width: 35vw;
        padding: 10px;
      }


.btn-grad {background-image: linear-gradient(to right, #41E296 0%, #00C4EE  51%,#41E296   100%)}
.btn-grad {
         padding: 5px;
         text-align: center;
          transition: 0.5s;
         background-size: 200% auto;
         color: white;            
         box-shadow: 0 0 20px #eee; 
         border-radius: 10px;
         display: block;
       }

.btn-grad:hover {
         background-position: right center; /* change the direction of the change here */
         color: #fff;
         text-decoration: none;
       }

#wrapper {
        height:100%;
        width:100%;
        text-align: center;
        display: table;
        position:absolute;
      }
      
#title {
        display: table-cell;
        vertical-align: middle;
        z-index: 999;
      }
          
      
#wrapper canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 1950px;
        height: auto; 
      }
      
      #canvas {
        z-index: 1;
      }
      #canvasbg {
        z-index: -10;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        filter: blur(3px);
        opacity: 0.6;
      }
.coolcat {
    text-align: center;
    margin: auto;



}