{% extends "layout.html" %}

{% block content %}
<head>
    
        <meta charset="utf-8">
        <title>Swaperator - Track Swaps in the Metaverse</title>
        <meta name = "description" content="Swaperator is a platform for trusted and transparent exchanges of nft tokens and cryptocurrencies in the metaverse.">
        <meta content="Swaperator - Track Swaps in the Metaverse" property="og:title">
        <meta content="Swaperator is a platform for trusted and transparent exchanges of nft tokens and cryptocurrencies in the metaverse" property="og:description">
        <meta content="Swaperator - Track Swaps in the Metaverse" property="twitter:title">
        <meta content="Swaperator is a platform for trusted and transparent exchanges of nft tokens and cryptocurrencies in the metaverse" property="twitter:description">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link href="/static/basic.css" rel="stylesheet">
        <link href="/static/killme.css" rel="stylesheet">
    
        <meta http-equiv="refresh" content="10" >

</head>
<body>
 <!--
    <div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-3">
            <h2>ethereum price</h2>
            ${{ ethereum_price['last'] }}
        </div>
        <div class="col-3">
            <h2>gas price</h2>
            {{ eth.gas_price / 1000000000 }} Gwei
        </div>
    </div> 
-->
        <div class="d-flex justify-content-center">
            <h5>Recent Swaps</h5>
        </div>
        <div class="center">
            
            <div class="tbl-content">
                  
                {% for transaction in latest_transactions %}
                <tr>
                    <td>
                        <h5>Hash</h5>
                        <p>
                            <a href="/transaction/{{ transaction['hash'].hex() }}">{{ transaction['hash'].hex() }}</a>
                        </p>
                        <p>
                            <strong>From</strong>   
                            <a href="/address?address={{ transaction['from'] }}">
                                {{ transaction['from'] }}</a>
                        </p>
                        <p>
                            <strong>To</strong>
                            <a href="/address?address={{ transaction['from'] }}">
                                {{ transaction['to'] }}</a>

                        </p>
                    </td>
                </tr>
                <hr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</div>

<script src="/static/PainAndSuffering.js" type="text/javascript"></script>
<script src="/static/basic.js" type="text/javascript"></script>
</body>
{% endblock %}